global
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    maxconn 4096
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http
    option httplog
    option dontlognull
    retries 3
    option redispatch
    maxconn 2000
    contimeout 5000
    clitimeout 5000
    srvtimeout 5000

frontend http-in
    bind *:80
    acl url_static_dir path_beg /static
    acl url_static_end path_end .jpg .jpeg .gif .png .ico .pdf .js .css .flv .swf
    acl is_www_clean hdr_sub(host) -i ctweereal
#    acl is_www_domain_com hdr_end(host) -i domain.com
    
    use_backend www_static if url_static_dir url_static_end
    use_backend www_clean if is_www_clean
#    use_backend www_domain_com if is_www_domain_com
#    default_backend www_example_com

backend www_static
    option httpclose
    option forwardfor
    server StaticNginx 127.0.0.1:8000

backend www_clean
  #  balance roundrobin
  #  cookie SERVERID insert nocache indirect
 #   option httpchk HEAD /check.txt HTTP/1.0
    option httpclose
    option forwardfor
    server Server1 127.0.0.1:8001
#    server Server1 10.1.1.1:80 cookie Server1
#    server Server2 10.1.1.2:80 cookie Server2
